.navbar-inverse {
  background: black; }

#fb-icon a {
  padding: 8px 10px; }
#fb-icon img {
  width: 32px;
  height: 32px; }
#fb-icon .ib {
  border-left: 1px solid #999999;
  padding-left: 20px; }

.navbar-brand {
  padding: 11px 0 7px; }
  .navbar-brand img {
    border-right: 1px solid #999999;
    margin-right: 10px;
    width: 120px;
    height: 46px; }

.navbar.navbar-inverse .navbar-nav > li > a {
  color: white; }
