#chapter-cmp
  #part-compare.anchor
  .section-headline#cmp-sh: .main(data-anchor-target="#cmp-sh",data-bottom-top="opacity:1;top:100%",data-100-top="opacity:1;top:0%",data-bottom-bottom="top:0%",data-top-bottom="top:-100%")
    .redline(data-anchor-target="#cmp-sh",data-bottom-bottom="margin-left:40%",data-center-center="margin-left:20%")
    .ib
      #clock
        img#clock-base(src="img/comp/clock/base.svg")
        img#clock-minute(src="img/comp/clock/minute.svg",data-anchor-target="#cmp-sh",data-bottom-top="transform:rotate(0deg) translate(0,-15px)",data-top-top="transform:rotate(7200deg) translate(0,-15px)")
        img#clock-second(src="img/comp/clock/second.svg",data-anchor-target="#cmp-sh",data-bottom-top="transform:rotate(0deg) translate(15px,0)",data-top-top="transform:rotate(120deg) translate(15px,0)")
        img#clock-center(src="img/comp/clock/center.svg")

      .l4w

      .title 一種自由，兩種滋味
      .part PART III
    .redline(data-anchor-target="#cmp-sh",data-bottom-bottom="margin-left:0%",data-center-center="margin-left:20%")
  br
  br
  br
  +chapter-author
    | 陳貞樺　　整理報導
  .intro: .desc
    .para 
      | 你想過，你擁有的自由，是前人胼手胝足換來的嗎? 現在的我們可以享有言論、出版以及集會自由，甚至大聲譴責掌握權位的人。但這些我們認為理所當然的事情，20年前都還是被禁止的，甚至可能被責罰。「我是鄭南榕，我主張台灣獨立」鄭南榕1987的這句名言，被當時法律認定是「分裂國土」的叛亂罪。很難想像，20多年後的大腸花論壇上，「我是XXX，我主張台灣獨立」卻成為許多人當時上台發言必定會說的一句話。「對自由有多大的理解，你就有多大的自由。」我們必須要先知道台灣的自由之路一路走來有多麼艱困，才能體會現在擁有的自由多麼得來不易。
      br
      br
    img(src="img/saobaobar.png")
  #cmp
    #timebar-anchor
    div(data-anchor-target="#cmp",data-bottom-top="opacity:1",data-bottom-bottom="opacity:1",data--500-bottom-bottom="opacity:0")
      #timebar(data-anchor-target="#timebar-anchor",data-bottom-top="top:100%",data-top-top="top:0%")
        .ib
          #bar-left: .ib(data-anchor-target="#cmp",data-bottom-top="width:0%",data-bottom-bottom="width:100%")
          #bar-right: .ib(data-anchor-target="#cmp",data-bottom-top="width:0%",data-bottom-bottom="width:100%")
          img#mark-left(src="img/comp/now.png")
          img#mark-mix(src="img/comp/mix.png",data-0="transform:rotate(0deg)",data-end="transform:rotate(7200deg)")
          img#mark-right(src="img/comp/past.png")

    .cmp-section
      .ihl: img(src="img/comp/hl-fund.png")
      .row
        .col-xs-6.cmp-s-left
          | 募資在現代已經非常普遍，只要有好的點子，就可以透過各式各樣的網路平台向群眾募資。在318反黑箱服貿運動期間，花了四天的時間，就在flying V上，成功募到紐約時報刊登全版廣告693萬的經費。網路上可募資的主題包羅萬象，從創業募資、報導計畫到公共事件，都可以透過募資成立。
          .hr
          img.f(src="img/comp/pic/2.jpg")
          .cmp-ds
            | flyingV為台灣最大的群眾募資網站，人們可在上面投稿專案獲取大眾贊助資金，目前成功案例已經超過180個。
            br
            | 資料來源:FlyingV官網
        .col-xs-6.cmp-s-right.rel
          p
            img.b.f(src="img/comp/pic/1.jpg")
            .cmp-ds
              | 陳文成發生意外後，台灣同鄉在美國各地舉行追悼與示威。
              br
              | 資料來源:陳文成基金會
            .hr
          p
            | 戒嚴時代，特定組織的募資捐款行為，往往會受到國民黨當局的監控。1979年美麗島雜誌創刊前期，人在美國的陳文成為支持美麗島雜誌，發起募款活動，並將雜誌文章翻譯成英文。1981年陳文成回台後遭警備總部約談，隔日被發現陳屍於台大校園，史稱陳文成事件。據陳文成基金會發表的 〈陳文成事件調查報告〉一文，陳文成友人康寧祥提及陳文成死前曾提及，自己一切的活動都被警總監視，包含募款行動以及演講。

            .cmp-ds
              | 資料來源:
              a(href="http://www.cwcmf.org.tw/the%20truth/report_1.pdf") 〈陳文成事件調查報告〉
          img#icon-fund(src="img/comp/icon-fund.svg")

    .cmp-ints-hr
    .cmp-section 
      .ihl: img(src="img/comp/hl-speak.png")
      .row
        .col-xs-6.cmp-s-left
          p
            | 憲法第11條保障「人民有言論、講學、著作及出版之自由」。言論自由被視為民主政治的一大重要指標。現在的台灣人民，擁有比大多數華人世界國家較多的言論權。不管是現實或是網路世界，人人都可以發表自己對任何事件的看法。台灣言論開放的例子包含各電視台的政論節目，以及學運的大腸花論壇，人人可以透過call-in發表自己的意見。
          .hr
          img.b.f(src="img/comp/pic/3.jpg")
          .cmp-ds
            | 由音地大帝主持的大腸花論壇，在學運期間人氣非常高，網路直播甚至多達幾萬人觀看。資料來源:截圖於網路
        .col-xs-6.cmp-s-right
          p
            img.b.f(src="img/comp/pic/4.jpg")
            .cmp-ds
              | 過去戒嚴時代，牆上常貼滿了各式防匪諜的文宣。
              br
              | 資料來源:李筱峰提供
          .hr
          p
            | 戒嚴時期立法院通過《懲治叛亂條例》以及《動員戡亂時期檢肅匪諜條例》，透過情治機關密切掌握人民的思想及行為。發表或參與當局認為涉及「叛亂」的人，就有可能被抓進看守所審問。1984年，鄭南榕為「爭取百分之百言論自由」創辦《自由時代系列週刊》，為了對抗警備總部的查禁沒收、新聞局的停刊處分，他當時登記了18張執照，被查禁或停刊時，便以不同名稱再次發行雜誌，輪流使用《發揚時代週刊》、《先鋒時代週刊》、《民主時代週刊》等名稱。然而鄭南榕因為在雜誌上登載「台灣共和國新憲法草案」，在當時沒有言論自由保障下，接到第一張涉嫌叛亂的法院傳票，1989年4月7日，鄭南榕拒絕被捕以自焚方式結束生命。
    .cmp-ints-hr
    .cmp-section 
      .ihl: img(src="img/comp/hl-magazine.png")
      .row
        .col-xs-6.cmp-s-left
          p
            | 就《憲法》第11條的保障，發行刊物亦屬於言論自由範疇，屬於人民享有的自由。在1999年廢除《出版法》後，發行刊物不需經政府核准、核發登記證等。登載的內容也不需受到政府嚴格控管，可自由發行。除了校園意識刊物盛行外，也有許多過去的政治犯發表自傳，描述那段當時被禁聲的歷史，例如柯旗化的《台灣監獄島：柯旗化回憶錄》。
          .hr
          img.b.f(src="img/comp/pic/10.jpg")
          .cmp-ds
            | 學生刊物《台大意識報》051期便以白色恐怖為題，對於當時的受害者、記者進行深入報導，也與台大學生會協辦影像展，同時探討當代轉型正義問題。圖片提供：台大意識報
          br
          img.b.f(src="img/comp/pic/11.jpg")
          .cmp-ds 柯旗化為白色恐怖的受害者，因思想左傾而遭到逮捕。此書正是他於白色恐怖期間的自傳。 資料來源:《台灣監獄島：柯旗化回憶錄》
          img#icon-pen(src="img/comp/icon-pen-r.png")
        .col-xs-6.cmp-s-right
          p 由於黨禁與報禁的影響，當時的黨外人士透過創辦雜誌的方式，變相發展組織，籌畫民主行動，而《美麗島》雜誌即是當時最具代表性的黨外雜誌之一。
          br
          p 《美麗島》雜誌創刊於1979年8月16日，網羅當時黨外精英，以黃信介為法定發行人，林義雄與姚嘉文出任發行管理人等職務。而這本雜誌創刊號即達到約10萬冊的銷量，到第四期甚至14萬冊的高銷量，為當時銷量最高的黨外雜誌，遂使執政當局無法漠視並採取行動。
          br
          p 1979年12月10日，《美麗島》雜誌於高雄市舉辦紀念世界人權日大會時，執政當局早已做好準備，在大會之後爆發警民衝突，引發「美麗島事件」。校園內的刊物也受審查制度限制言論尺度，1986年大學新聞社（簡稱大新社）報導「李文忠事件」並談及黨團介入校園普選，後來又南下彰化採訪鹿港反杜邦運動。受審時遭校內評審單位拒絕審理，發表後則被校方以「未依規定送審」為由，遭到停社一年、3名幹部被記過的處分。此事一出，大新社在台大校門口舉行自由之愛告別演講會，透過社團聯合宣言、傳單與聲明爭取校園內的言論與出版自由。
          .hr
          img.b.f(src="img/comp/pic/6.jpg")
          .cmp-ds 美麗島雜誌紙本一覽。資料來源:鳳凰網

    .cmp-ints-hr
    .cmp-section 
      .ihl: img(src="img/comp/hl-protest.png")
      .row
        .col-xs-6.cmp-s-left.rel
          p 《集會遊行法》長久以來被質疑是否違反憲法精神，與憲法第14條規定「人民有集會及結社自由」相互牴觸，也曾兩次被宣告部份違憲。司法院大法官於2014年提出《司法院釋字第718號解釋》，針對緊急性及偶發性集會遊行應經過許可的部份，做出違憲判定。但隨著網路動員普遍化，「路過」一詞應運而生，諸如路過中正一分局事件等。法律對於緊急性及偶發性兩者的定義卻模糊不清，因此許多人仍認為此法的詮釋權仍掌握於國家機器裡。
          .hr
          img.b.f(src="img/comp/pic/7.jpg")
          img#icon-taiwan(src="img/comp/icon-taiwan.svg")
          #icon-taiwan-bar
          .cmp-ds 司法院大法官於2014年，針對集遊法緊急性及偶發性集會遊行應經過許可的部份，做出違憲判定。資料來源:新聞E論壇
          br
          img.b.f(src="img/comp/pic/8.jpg")
          .cmp-ds
            | 網路時代的號召力越來越強大，民眾上街爭取自身權益成為常態。
            br
            | 資料來源:新聞E論壇
          img#icon-clock(src="img/comp/icon-clock.svg")
        .col-xs-6.cmp-s-right
          img.b.f(src="img/comp/pic/9.jpg")
          .cmp-ds 1979年2月4日，黨外人士施明德、黃信介等人為聲援許信良，以拜年方式遊行。圖片提供：施明德基金會
          .hr
          p
            | 戒嚴時期集會遊行是非常敏感的行為。為躲避政府當局的監視，許多有名的黨外人士，藉由婚喪喜慶活動來廣發帖子，名義上是參加節慶聚會，實為交流彼此想法的政治性聚會。例如施明德就曾經藉與前妻艾琳達的婚禮，廣邀各界人士參與；或是1979年2月4日，黨外人士施明德、黃信介等人為聲援許信良，但礙於當時不能自由上街頭遊行，便以拜年方式遊行，一群人舉著「恭賀新禧」布條從桃園火車站出發，一路發送傳單。
