script(type="text/javascript",src="s/js/young.js")
#chapter-young(ng-controller="young")
  #part-young.anchor
  .section-headline#young-sh: .main(data-anchor-target="#young-sh")
    .redline(data-anchor-target="#young-sh",data-bottom-bottom="margin-left:40%",data-center-center="margin-left:20%")
    .ib
      img.speaker(data-anchor-target="#young-sh",data-bottom-top="opacity:1;margin-left:-400px;margin-top:200px",data-top-top="margin-left:-115px;margin-top:77px;opacity:1",src="img/young/spk-left.png")
      img.speaker(data-anchor-target="#young-sh",data-bottom-top="opacity:1;margin-left:320px;margin-top:200px",data-top-top="margin-left:35px;margin-top:77px;opacity:1",src="img/young/spk-right.png")
      img.microphone(data-anchor-target="#young-sh",data-bottom-top="opacity:1",data-center-top="opacity:1",src="img/young/mic-black.png")
      .l4w

      .title 年輕世代的觀點
      .part PART I
    .redline(data-anchor-target="#young-sh",data-bottom-bottom="margin-left:0%",data-center-center="margin-left:20%")

  br
  br
  br

  .intro: .desc
    .para 
      | 318佔領運動退場後，林義雄即將禁食的消息震撼了台灣社會，尤其是走過白色恐怖時代的上一代人，對此事焦慮不已
      br
      | 但是年輕一代的感受卻較為淡薄。林義雄是誰？他跟年輕人有何關係？如果青年世代想要重新認識林義雄，應該用什麼角度來看那段歷史？
      br
      | 我們邀請了五位年輕受訪者，請跟著他們，一起來認識林義雄。
      br
      br
    img(src="img/saobaobar.png")

  #avatars
    .item(ng-mouseover="tgltab(1)",ng-class="{'active':tab==1}"): .avatar: .ib.p1: img(src="img/dot.png")
    .item(ng-mouseover="tgltab(2)",ng-class="{'active':tab==2}"): .avatar: .ib.p2: img(src="img/dot.png")
    .item(ng-mouseover="tgltab(3)",ng-class="{'active':tab==3}"): .avatar: .ib.p3: img(src="img/dot.png")
    .item(ng-mouseover="tgltab(4)",ng-class="{'active':tab==4}"): .avatar: .ib.p4: img(src="img/dot.png")
    .item(ng-mouseover="tgltab(5)",ng-class="{'active':tab==5}"): .avatar: .ib.p5: img(src="img/dot.png")
    br(style="clear:both")

    .hl-yng(ng-class="{'show':tab==1}")
      .brief.left(style="left: 5%")
        .name 柳林瑋
        .desc 公民1985行動聯盟發起人之一。
      .caption
        | 『生來就有民主的世代
        br
        | 更該去了解邁向民主的過程』

    .hl-yng(ng-class="{'show':tab==2}")
      .brief.left(style="left: 25%")
        .name 李柏璋
        .desc 21歲，社運青年。
      .caption 『沒瞭解那段歷史前，誰都不該先去批評林義雄』

    .hl-yng(ng-class="{'show':tab==3}")
      .brief.left(style="left: 45%")
        .name 林飛帆
        .desc 26歲，社運青年。
      .caption 『林義雄用寬容來處理悲傷』

    .hl-yng(ng-class="{'show':tab==4}")
      .brief.right(style="margin-left: 20%")
        .name 張凱婷
        .desc 臺大社會系大三，獨立樂團大象體操Bass手。
      .caption 『林義雄喚起了我心裡信仰的正義』

    .hl-yng(ng-class="{'show':tab==5}")
      .brief.right(style="margin-left:40%")
        .name 苗博雅
        .desc 26歲，臺大法律系畢業，廢除死刑推動聯盟法務主任。
      .caption 『林義雄想保護的是全台灣人的生命』
  #yng-c-sep

  #yng-r-p1.yng-r(ng-class="{'show':tab==1}")
    #yng-p1.yng-p
    #yng-author-p1.yng-author
      .ib.right
        div 採訪報導
        div ／　蔣宜婷
      .yng-author-mic

    //- 柳林瑋
    #yng-d-p1.detail: .ib
      p 「你自己念的高中，你坐在那個地方，你就會想說，哇靠我的學校竟然就這樣被抄掉了。理由是學校裡面可能藏了汽油彈，而你根本不知道到底有沒有，警總就衝進來，把學校老師抄走…」回顧自己高一時為了編校刊，無意間翻到與228事件相關的校史，柳林瑋說，他一邊讀一邊起雞皮疙瘩。

      p 坐在延平中學的教室裡，與相隔近70年的歷史產生連結，對當時才16歲的柳林瑋來說，是非常震撼的事。他在研讀校史過程中，發現自己的學校曾有段重要歷史。創校的朱昭陽、林獻堂等台籍菁英就是「那個時代的人」，他們懷抱辦學理想，後來卻面對政府強制停辦學校，讓他感動也感慨，也開始主動去瞭解那段歷史、閱讀相關書籍。
       
      p 「我們20、30歲的這些人，生出來莫名其妙就有了民主，所以我們若不去回顧當初是怎麼取得民主的，那我們就會很容易失去戒心，讓它被拿走了。」柳林瑋認為，所有年輕人都應該去瞭解臺灣如何取得民主的過程，而要去認識那段歷史，就不能不談林義雄。

      p 柳林瑋笑說，自己是林義雄的「迷弟」，林義雄對於政治的想象、長年堅守理想的人格，都讓他欽佩。他說，林義雄很早便認為政黨應由為了取得政權的人所組成，一個政黨不僅不該有黨員，更不需為了身為黨的忠貞黨員為榮。他說，林義雄的說法很符合他對政治的想像。「如果政治人物是我們的公僕的話，我們幹嘛去崇拜、信仰我們的公僕，我們應該信仰自己的理念，去監督自己的公僕。」他解釋。

      p 他也表示，林義雄對事件皆反覆思辨、長期身體力行堅持理想，也未因握有權力而腐化，都在在見證林義雄「不要看我一時，要看我一生」的名言。柳林瑋說，能要求別人用一生去檢視自己並不容易。林義雄經歷林宅血案的傷痛與打壓，仍堅持數十年，政治人物有這樣的風骨，便是令他景仰的主要原因。

      p 談到對林義雄4月22日起長達8天禁食行動的看法？作為一名積極參與社會運動的醫師，柳林瑋對這個問題停頓許久才緩緩回答，「任何一個人自殺，其實我都不會認同。但是我還是敬佩林義雄的選擇，他的理想沒有變，我相信人可以為了理想的偉大價值而死。」面對困難的倫理議題，他認為，為了強大的信念與不公義的政權對抗，以自己的肉身承載政府的顢頇與蠻幹，雖然令他於心不忍，但他仍支持林義雄為了自己深信的價值而行動。

      p 走在前人為爭取民主自由所開闢的路途上，柳林瑋坦言，自己雖獲得許多啓發，卻遠不及他們偉大。2013年8月3日萬人凱道送仲丘晚會中，眾人舉起手機、形成一遍螢光海的場景，他的靈感便是來自朱昭陽在延平學院開學時所闡釋的精神，對柳林瑋而言，「給這混亂、昏昧的社會提供一線光明，我們要當荒野暗夜中的螢光」已從他16歲時瞻仰的精神，轉化成自己做運動的方式。

  #yng-r-p2.yng-r(ng-class="{'show':tab==2}")
    #yng-p2.yng-p
    #yng-author-p2.yng-author
      .ib
        div 採訪報導
        div ／　蔣宜婷　
      .yng-author-mic

    //- 李柏璋
    #yng-d-p2.detail: .ib
      p 「你知道要一個男人，在他媽媽跟女兒被砍死的地方絕食，這不是開玩笑。」操著流利國罵而被網友稱為「人間自走機關槍」的李柏璋。談到林義雄時，他卻說得很緩慢。

      p 李柏璋說，他成長在一個並不諱言談論政治的家庭。懂事以來，爸爸常對他訴說林義雄的故事。回想第一次看到林義雄在立法院前靜坐的新聞，李柏璋坦言，他也一度懷疑林義雄在炒新聞、操作議題，甚至是在為前途鋪路，「但是我真的去瞭解他以後，才發現我錯怪林義雄了。」

      p 藉由自己查上網資料、詢問爸爸，李柏璋進一步得知林宅血案經過，也在關心核四議題上，與林義雄產生連結。他說，林義雄因為是美麗島事件中最不肯屈服的人，而承受苦難，但林義雄沒有畏懼退縮，也不去報復，而是一心一意為臺灣奉獻。李柏璋認為，沒有瞭解林義雄的理念、遭遇的事，理解其禁食所展現的決心，「都不應該先去批評林義雄這個人。」

      p 聊到林義雄多次為核四議題苦行、再次絕食。李柏璋說，當他在義光教會外，繫上黃絲帶時，自己感慨很深，林義雄今年都已72歲，敢出來絕食，就是有一定覺悟，是真的想拿這條性命，換得更多人來對核四議題的重視。但看著一條生命凋零，李柏璋也難掩失落地說，「卻好像沒有辦法為他做些什麼，明明有那麼多人站出來了。」

      p 他也表示，4月25日那天，群眾之所以在立委開會結束後用身軀阻擋立委座車，除了為督促政府改變核四政策，會利用這樣的手段，也是源於想要挽救林義雄生命的焦慮。

      p 「我有時候真的為他覺得很不值得，他這輩子已經為臺灣奉獻太多了。」停頓許久，李柏璋再點起一根煙後緩緩地說。訪談這天，已是林義雄禁食第6天，遲至深夜，反核群眾仍在佔領忠孝西路靜坐抗議。

  #yng-r-p3.yng-r(ng-class="{'show':tab==3}")
    #yng-p3.yng-p
    #yng-author-p3.yng-author
      .ib
        div 採訪報導
        div ／　李映昕、蔣宜婷
      .yng-author-mic

    //- 林飛帆
    #yng-d-p3.detail: .ib
      p 「410退場那天，我第一次見到林先生，他給了我一個擁抱，但什麼話都沒有說。我那時候很激動，因為你知道這個人在歷史上很重要，他很努力在做一些事情，而且就在你眼前。」林飛帆說。

      p 太陽花學運退場當天，林飛帆在議場外，與靜坐聲援學生多天的林義雄見面。媒體報導林飛帆眼眶泛紅，後來林飛帆在臉書上自述，那是因為他早就知道林義雄即將禁食。

      p 「以前沒有見過林先生，對他的印象都是想像出來的」，從小聽爸爸談論政治的林飛帆，在家庭的耳濡目染中，接觸到林義雄、鄭南榕等人的故事。但即使如此，在實際接觸這些人事物之前，他就跟大多數的年輕人一樣，對於台灣民主發展的理解，總是隔著一層紗。

      p 林飛帆在擔任成大零貳社社長時，曾參加過「人民作主」在台南的苦行，但沒有見到林義雄本人。他對「人民作主」的印象是「行動很素樸、很傳統，衣服還要紮進褲子裡」，而且全程要求禁語。林飛帆回憶，「人民作主」活動莊嚴性很高，但「這樣的方式離年輕人很遙遠」。對於林義雄為何採取這樣的苦行方式、想傳達什麼理念，他當時也充滿困惑。

      p 318佔領國會運動期間，林飛帆得知了林義雄即將禁食的消息。林飛帆說，他雖然擔心林義雄的身體，卻也從黃國昌等人的轉述中，漸漸了解林義雄「非暴力抗爭」的理念。「他是一個很寬容的人，有點像是修道士，」林飛帆比喻，「即使心裡有很多悲傷，但不會用仇恨來處理悲傷」。

      p 林飛帆說，林義雄的處事態度，就是他一貫的待人風格，即使對國政有所批評，卻不會罵人，而是用呼籲跟期許的方式來表達意見。「他寫給女兒的家書，為什麼叫做《只有香如故》？他覺得只要你有理想，理念是對的，不用把話講得很大聲，也可以說服別人，就像花香一樣」。
       
      p 但並不是所有人都能接觸到林義雄，對年輕一代來說，林義雄是一個陌生的名字，更遑論去了解他的想法。林飛帆直言，扭曲的歷史教育使得很多人「不理解林義雄，也不理解鄭南榕，更不了解台灣的民主化運動」。而318佔領國會運動雖然是偶發事件，卻成為一個觸發點，讓年輕人重新認識歷史。

      p 「我有很多朋友，他們是第一次參與運動，受到很大的思想衝擊，開始去思考議題，」林飛帆也舉例，這次運動有許多公民團體一起參與，年輕一代藉此機會認識了更多團體，並了解他們在耕耘的議題；運動後期，也有不少人重新認識公投盟。學生退出議場已經月餘，林飛帆表示，他們接下來要做的，就是運用318佔領行動後形成的社會動能，讓這種偶然的觸發慢慢常態化，促使更多人關心公共議題。

  #yng-r-p4.yng-r(ng-class="{'show':tab==4}")
    #yng-p4.yng-p
    #yng-author-p4.yng-author
      .ib
        div 採訪報導
        div 蔣宜婷、邱彥瑜、梁德珊　／
      .yng-author-mic

    //- 張凱婷
    #yng-d-p4.detail: .ib
      p 「我們家是藍的。我去參加學運，就會被我爸笑，他說你們都被民進黨操弄，連華光拆遷也是。我就會說你笑屁啊，我爸就會掛我電話，然後就會冷戰。」過去張凱婷在家從不開口談政治，直到上了高中，她才開始接觸台灣史，也慢慢拼湊出林義雄和鄭南榕的模糊輪廓。

      p 回憶高中課程，張凱婷說，課本雖然會提到228或是美麗島事件，但都避談政治受害者。她指出，在這些事件的描述裡，好像沒有人參與其中一樣，學生難以對誰有更深一層的認識。張凱婷說：「像鄭南榕，高中的時候，我就聽過他，但就只是一個很模糊的台灣人 。」
       
      p 「林宅血案是我對電影《牽阮的手》最有印象的ㄧ段，因為那是非常衝擊性的畫面。」藉由觀看這部電影，才讓張凱婷真正了解到林義雄背後的故事。片中大量動畫及史料畫面重現的歷史，一再對她產生衝擊。張凱婷說，當她看著林義雄的女兒、媽媽倒在地上、林義雄過往的照片，以及田秋瑾事後訪談重現現場，才讓她驚覺，林宅血案真實地發生在那個年代。
       
      p 聊起林義雄以絕食表現停建核四的決心，張凱婷先是鬆了口氣說，「我覺得他不絕食了，很好。」她認為，林義雄以前也曾禁食、苦行過，本來就善於用身體表達理念，也抱持著願意死去的決心。對於這樣的意志，她不認為如媒體所言，是逼迫社會或政府妥協。
       
      p 除了《牽阮的手》的啟發外，張凱婷認為就讀社會系，也給她很多機會閱讀理論，社會學也一直是她所深信及崇拜的價值。但她也坦言，念馬克思相關的理論書籍，卻讓她找不到當初自己相信的價值。林義雄的行動，卻重新喚起了張凱婷心裡信仰的正義。
       
      p 「林義雄跟鄭南榕讓自己很痛，所以我只要提到他們就會很難過。因為我覺得那樣很殘忍，鄭南榕把自己關在裡面，而他的家人都在外面。」張凱婷提到樂團好友鄭宜農，曾經跟她說過，自己的母親曾擔任鄭南榕雜誌社的美術，自焚時鄭宜農的媽媽就在外面。張凱婷哽咽地說：「你能想像有一個你很親的人，跟你說，他之後要做這些事，那你要怎麼處理？」
       
      p 對張凱婷來說，林義雄跟鄭南榕，就是沒必要講那麼多的人。「因為他們做的事情，就已經解釋了他們在想什麼。」 

  #yng-r-p5.yng-r(ng-class="{'show':tab==5}")
    #yng-p5.yng-p
    #yng-author-p5.yng-author
      .ib
        div 採訪報導
        div 邱彥瑜、蔣宜婷　／
      .yng-author-mic

    //- 苗博雅
    #yng-d-p5.detail: .ib
      p 「一般人覺得，被害者通常蒼白、軟弱、無力，但林義雄反而用他的生命，做他覺得可以保護台灣的事情。他想要挽救全台灣的人，不分貴賤、職業、貧富，甚至不分善惡。他連馬英九、江宜樺這樣的人都想救。」苗博雅眼中的林義雄，即使經歷過慘痛的林宅血案，仍一視同仁地尊重所有生命的價值。

      p 反核與廢死，看似無關的社會議題，卻同樣面對政府的強硬態度，也攸關著生命存亡的難題。正當反核群眾佔領忠孝西路遭驅離的隔天，法務部長羅瑩雪就宣布執行「民意高度支持」的死刑。苗博雅說，林義雄一以貫之的核心理念，就是反對國家暴力、主張和平抗爭。她認為，這跟反對死刑是一樣的，國家不應該使用暴力，對待所有的生命，「不論善惡，人就是人，不是怪獸、畜生，也沒有不值得活」。

      p 在苗博雅眼中，雖然過往教育多將林義雄的事情抹去、噤聲，但林義雄長年來不為所動的反核立場，讓他在台灣政治人物中獨樹一格。「他認為這是對的，就會去做，憑著對公益的信念去做，而不是私人利益的算計」從媒體的報導，她看到林義雄多次用苦行和絕食表達堅定反核的意志。

      p 當初聽到林義雄要禁食反核，苗博雅覺得相當不捨，她認為，不是任何1個人都能輕易做出這樣的決定，林義雄更可能因為這個政府而死亡。「在台灣，還沒看過比自己一個人禁食更和平、更不干擾別人的抗議方式」苗博雅直言，許多人認為表達訴求必須和平理性，卻又批評林義雄以個人生命綁架政策，如此嚴格的標準，讓她忍不住問，到底有訴求時該怎麼表達，才能真正喚起社會大眾的意識？

  br
  #yng-c-sep2
  #small-avatars
    .ib(data-anchor-target="#yng-c-sep",data-bottom-top="opacity:0",data-center-top="opacity:1")
      .ib2(data-anchor-target="#yng-c-sep2",data-bottom-bottom="opacity:1",data-top-top="opacity:0")
        .avatar(ng-click="tomenu(1)",ng-class="{'active':tab==1}"): .ib.p1: img(src="img/dot.png")
        .avatar(ng-click="tomenu(2)",ng-class="{'active':tab==2}"): .ib.p2: img(src="img/dot.png")
        .avatar(ng-click="tomenu(3)",ng-class="{'active':tab==3}"): .ib.p3: img(src="img/dot.png")
        .avatar(ng-click="tomenu(4)",ng-class="{'active':tab==4}"): .ib.p4: img(src="img/dot.png")
        .avatar(ng-click="tomenu(5)",ng-class="{'active':tab==5}"): .ib.p5: img(src="img/dot.png")
        .desc 年輕世代 / 其他人的觀點
